body{
	background-color: beige;
		text-decoration-color: black;
	font-family: 'Dancing Script', cursive;
	src:url(<link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>);
}

p{
	text-indent: 250px;
}